*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: #081b29;
    overflow:hidden;
    flex-direction: column;

}
/* Styling the container as a header */
.container {
    text-align: center;
    color: #fff; /* Adjust the color as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
    margin-bottom: 10rem;
    font-size: 2.0em;
    color:#1ef;
}
.container p span{
    color:#ADD8E6;
    position: relative;
}
.container p span::before{
    content:"";
    right:-8px;
    top:50%;
    background: #ADD8E6;
    position: absolute;
    height:30px;
    width:2px;
    transform: translateY(-50%);
    animation: blink 0.7s infinite;
}

/*styling the clock wrapper*/
.wrapper{
    position:relative;
    width:500px;
    height:500px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    animation: colorful 45s infinite;
}
@keyframes colorful{
    100%{
        filter:hue-rotate(360deg);
    }
}
.bar-seconds,
.number-hours{
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
}
.bar-seconds span p {
    display:inline-block;
    width:2px;
    height:12px;
    background:#0ef;
}
.bar-seconds span:nth-child(5n) p {
    background: red;
    width:6px;
    height:18px;
    transition: translateY(8px);
    border-radius: 2px;
    box-shadow: 0 0 10px red;
}
.bar-seconds span{
    position:absolute;
    /*360 / 60 = 6deg*/
    transform:rotate(calc(var(--index) * 6deg));
    inset:-20px;
    text-align: center;
}
.number-hours span{
    position:absolute;
    transform: rotate(calc(var(--index)*30deg));
    inset:6px;
    text-align: center;
}
.number-hours span p{
    font-size: 52px;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    transform: rotate(calc(var(--index)* -30deg));  
}
/*styling the clock hands*/
.hands-box{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
}
.hands-box .hand{
    position:absolute;
    border-radius:50%;
    display:flex;
    justify-content:center;
}
.hands-box .hand i{
    display: inline-block;
    transform-origin: bottom;
    border-radius: 50%;
    box-shadow: 0 0 10px #0ef ;
    
}
.hands-box .hours{
    width:320px;
    height:320px; 
}

.hands-box .hours i{
    width:8px;
    /*half of parent height*/
    height:160px;
    background:#0ef;
    
}
.hands-box .minutes{
    width:450px;
    height:450px;
    
}
/*center dot bottom*/
.hands-box .minutes::before{
    content:'';
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:25px;
    height:25px;
    background:#0ef;
    border-radius: 50%;
    box-shadow:0 0 5px #0ef;
}
.hands-box .minutes i{
    width:8px;
    height:225px;
    background: #0ef;
    
}
.hands-box .seconds{
    width:480px;
    height:480px;
}
/*center dot top*/
.hands-box .seconds::before{
    content:'';
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    width:20PX;
    height:20px;
    background:#fff;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.hands-box .seconds i{
    width:4px;
    height:calc(240px + 70px);
    background: green;
    box-shadow: none;
}

@keyframes blink {
    50%{
        opacity:0;
 } 
}